
body{
    max-width: 600px;
  
}
.responsive {
    width: 100%;
    height: auto;
}

section,
header,
footer {
    border: 2px solid rgb(180, 178, 178);
    padding: 1rem;
}
h1{
    font-size: 30px;
}
p,a,figcaption{
    font-size: 18px;
}