
body{
    max-width: 600px;
  
}
.responsive {
    width: 100%;
    height: auto;
}

.card{
    border: 2px solid rgb(180, 178, 178);
   border-radius: 8px;
}

header, .card-item , footer{
    border-top:2px solid grey;
    padding: 10px;
}
h1{
    font-size: 30px;
}
p,a,figcaption{
    font-size: 18px;
}

.card-links a {
    margin-right: 12px;
    line-height: 80px;
}

